<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/shop?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456789</property>
        <!-- 数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 是否显示SQL脚本（控制台显示） -->
        <property name="show_sql">true</property>
        <!-- 配置如何管理session连接上下文，thread -->
        <property name="current_session_context_class">thread</property>

        <mapping resource="com/cs/bean/SAdmin.hbm.xml"/>

    </session-factory>
</hibernate-configuration>